[Unit]
Description= Timer config for the python service

[Timer]
OnBootSec=1min
OnActiveSec=1min
OnUnitActiveSec=1d
Persistent=true

[Install]
WantedBy=basic.target